POSTGRES_USER=stock_user
POSTGRES_PASSWORD=stock_pass
POSTGRES_DB=stocks

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://stock_user:stock_pass@postgres:5432/stocks
AIRFLOW_UID=50000

INGESTION_INTERVAL_MINUTES=10
API_PORT=8000

STOCK_API_KEY=